DATABASE_URL="postgresql://USER:PASS@HOST-pooler/neondb?sslmode=require&pgbouncer=true&connection_limit=1&schema=nkiphones"
DIRECT_URL="postgresql://USER:PASS@HOST/neondb?sslmode=require&schema=nkiphones"
JWT_SECRET="segredo-aleatorio-com-32-ou-mais-caracteres"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
